{
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2023,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "es2023": true
  },
  "globals": {
    "__APP_VERSION__": "readonly"
  },
  "ignorePatterns": [
    "src/**/build/**"
  ],
  "plugins": [
    "react-hooks",
    "security"
  ],
  "extends": [
    "eslint:recommended"
  ],
  "overrides": [
    {
      "files": [
        "src/resolvers/**/*.js",
        "scripts/**/*.js"
      ],
      "env": {
        "node": true
      }
    },
    {
      "files": [
        "src/frontend/**/*.js",
        "src/admin/**/*.js"
      ],
      "env": {
        "browser": true
      }
    }
  ],
  "rules": {
    "no-unused-vars": "warn",
    "no-useless-escape": "warn",
    "react-hooks/rules-of-hooks": "error",
    "security/detect-buffer-noassert": "error",
    "security/detect-child-process": "warn",
    "security/detect-disable-mustache-escape": "error",
    "security/detect-eval-with-expression": "error",
    "security/detect-new-buffer": "error",
    "security/detect-no-csrf-before-method-override": "off",
    "security/detect-non-literal-fs-filename": "warn",
    "security/detect-non-literal-regexp": "warn",
    "security/detect-non-literal-require": "warn",
    "security/detect-object-injection": "off",
    "security/detect-possible-timing-attacks": "warn",
    "security/detect-pseudoRandomBytes": "warn",
    "security/detect-unsafe-regex": "warn"
  }
}
